:root {
  --title: #fffcf9;
  --subtitle: #b3b3b3;
  --bg-button: #e9e6e3;
  --background: linear-gradient(43deg, #102d71 0%, #000000 52%, #c12a23 100%);
}

body {
  min-height: 100vh;
  background: var(--background);
}

body,
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 126px 30px 103px 29px;
}

.container .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10.07px;
}

.container .title h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: var(--title);
  text-align: center;
}
